.side__category {
  padding: 8px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid transparent;
}

.side__category_selected {
  border: 2px solid black;
}

.side__category:hover {
  background: #60bdf8;
  cursor: pointer;
}

.category__block {
  display: block;
  flex: 1;
}

.category__name {
  margin: 0;
}
