.nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #60bdf8;
  height: 70px;
}

.wrapper__wrap {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrap__logo {
  background: none;
  border: none;
}

.wrap__block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
}

.block__links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.menu {
  display: none;
  z-index: 2;
}

@media (max-width: 800px) {
  .logo {
    width: 170px;
    height: 24px;
  }
}

@media (max-width: 500px) {
  .nav__wrapper {
    height: 50px;
  }

  .nav__wrap {
    width: 90%;
  }

  .wrap__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
  }

  .logo__logo {
    width: 106px;
    height: 15px;
  }

  .block__button {
    padding: 7px 18px;
  }

  .menu {
    display: block;
  }

  .hide {
    display: none;
  }
}
